*{
    margin: 0;
    padding: 0;
}

body{
    background: #3F3F3F;
    font-family: Inter;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-sidebar{
    background: #58575C;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
}

.ls-top{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}

.time{
    color: antiquewhite;
    font-weight: 600;
    font-size: large;
    background-color: #3F3F3F;
    border-radius: 8px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.left-sidebar > hr {
    margin-left: 36px;
    margin-right:  36px;
    border: 1px solid rgba(0, 0, 0, 0.63);
}

.right-sidebar{
    background: #58575C;
    width: 20vw;
    height: 100vh;
}

.user-section{
    margin: 20px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.level-stats{
    width: 70px;
    height: 70px;
}



.money-stats{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    font-size: 15px;
}

.contacts{
    background: rgba(98, 112, 121, 0.31);
    height: 100%;
    color: white;
    padding: 26px 32px;
}

.contacts-section{
    color: #222;
    margin-top: 20px;
    font-size: 18px;
}

.contacts-section > hr {
    border: 1px solid #222;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 10px 8px;
    border-radius: 8px;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-weight: 500;
}

.name-area{
    display: flex;
    flex-direction: column;
}

.contact-info > img {
    border-radius: 50%;
}

.new-message-indicator{
    height: 30px;
    width: 30px;
    background-color: #FFC107;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    color: white;
    font-size: 18px;
    margin: 20px 10px;
}

.space{
    background: #3F3F3F;
    min-height: 50px;
    margin-top: 12px;
    border-radius: 8px;
    padding: 10px 15px;
}

.rep-drugs{
    background: #222222;
    padding: 20px 58px;
    margin: 21px 0;
    display: flex;
    flex-direction: column;
    gap: 50px
}

.rep-drugs h1{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}



.progress-bar {
    position: relative;
    height: 20px;
    background-color: #000;
    overflow: hidden;
}
  
.filled {
    height: 100%;
    background-color: #088C6F; /* Color de la barra de progreso llenada */
    transition: width 0.3s ease-in-out;
}
  
.marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px; /* Ancho de la línea transversal */
    background-color: #FFC107; /* Color de la línea transversal */
    transition: left 0.3s ease-in-out;
}

.drug-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.63);
    color: #FFF;
    margin-bottom: 10px;
}

.drug-tab--head{
    display: flex;
    align-items: center;
}

.drug-info{
    margin-left: 10px;
}

.drug-info > p{
    color: #a7a7a7
}

.drug-tab--price{
    text-align: center;
}

.drug-tab--buttons > button{
    padding: 5px 22px;
    border-radius: 8px;
    border: none;
    background: #4B89B8;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.drug-tab--unlockmsg{
    color: #737278;
    margin-right: 36px;
}

.chat{
    max-width: 600px;
    width: 100%;
    background: #737278;
    display: flex;
    flex-direction: column;
}

.chat--header{
    display: flex;
    background: #58575C;
    padding: 10px 30px;
    align-items: center;
    gap: 20px;
    color: #FFF;
}

.chat--header > img {
    border-radius: 50%;
}

.chat-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;

}

.message{
    max-width: 70%;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
}


.sent{
    background: #8B8A92;
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
}

.recieved {
    background: #D9D9D9;
    
}

a{
    color: #222222;
    text-decoration: none;
}

.chat--footer{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}

.chat--footer > div {
    border-radius: 8px;
}

.chat--footer--input{
    background-color: #D9D9D9;
    height: 100%;
    width: 80%;
    
}

.chat--footer--button{
    background: #088C6F;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-item{
  display: flex;
  background: rgba(0, 0, 0, 0.63);
  border-radius: 6px;
  align-items: center;
  margin-bottom: 10px;
}

.inventory-item > img{
    border-radius: 6px;
    margin-right: 10px;
}

.inventory-item--info{
    font-size: 14px;
}


.inventory-item--info > p{
    color: #a7a7a7;
    margin-top: 5px;
}

.interaction-tab--overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction-tab{
    background: #3F3F3F;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1; /* Asegura que el modal esté delante del contenido */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.buy{
    width: 60vw;
    height: 50vh;
    display: flex;
    color: white;
}

.buy--drug-list{
    border-radius: 8px;
    background: #737278;
    overflow-y: scroll;
}

.buy--drug-order{
    border-radius: 8px;
    background: #737278;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    position: relative;
}

.drug-card{
    background-color: #58575C;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 5px;
    padding: 15px 5px;
    cursor: pointer;
}

.buy--drug-order--summary-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.buy--drug-order--summary-container > hr {
    border: 1.5px solid white;
    margin: 0 28px;
}

.buy--drug-order--summary{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
  
}

.buy--drug-order--summary > button {
    border-radius: 8px;
    background: #088C6F;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 18px;
}

.buy--order--cart{
    overflow-y: scroll;
    height: 85%;
}

.quantity-input{
    width: 50px;
    margin-right: 8px;
}