*{
    margin: 0;
    padding: 0;
}

body{
    background: #3F3F3F;
    font-family: Inter;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-sidebar{
    background: #58575C;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
}

.ls-top{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}

.time{
    color: antiquewhite;
    font-weight: 600;
    font-size: large;
    background-color: #3F3F3F;
    border-radius: 8px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.left-sidebar > hr {
    margin-left: 36px;
    margin-right:  36px;
    border: 1px solid rgba(0, 0, 0, 0.63);
}

.right-sidebar{
    background: #58575C;
    width: 20vw;
    height: 100vh;
}

.user-section{
    margin: 20px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.level-stats{
    width: 70px;
    height: 70px;
}



.money-stats{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    font-size: 15px;
}

.contacts{
    background: rgba(98, 112, 121, 0.31);
    height: 100%;
    color: white;
    padding: 26px 32px;
}

.contacts-section{
    color: #222;
    margin-top: 20px;
    font-size: 18px;
}

.contacts-section > hr {
    border: 1px solid #222;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-weight: 500;
}

.name-area{
    display: flex;
    flex-direction: column;
}

.contact-info > img {
    border-radius: 50%;
}

.new-message-indicator{
    height: 30px;
    width: 30px;
    background-color: #FFC107;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    color: white;
    font-size: 18px;
    margin: 20px 10px;
}

.space{
    background: #3F3F3F;
    min-height: 50px;
    margin-top: 12px;
    border-radius: 8px;
}

.rep-drugs{
    background: #222222;
    padding: 20px 58px;
    margin: 21px 0;
    display: flex;
    flex-direction: column;
    gap: 50px
}

.rep-drugs h1{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}



.progress-bar {
    position: relative;
    height: 20px;
    background-color: #000;
    overflow: hidden;
}
  
.filled {
    height: 100%;
    background-color: #088C6F; /* Color de la barra de progreso llenada */
    transition: width 0.3s ease-in-out;
}
  
.marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px; /* Ancho de la línea transversal */
    background-color: #FFC107; /* Color de la línea transversal */
    transition: left 0.3s ease-in-out;
}

.drug-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.63);
    color: #FFF;
    margin-bottom: 10px;
}

.drug-tab--head{
    display: flex;
    align-items: center;
}

.drug-info{
    margin-left: 10px;
}

.drug-info > p{
    color: #a7a7a7
}

.drug-tab--price{
    text-align: center;
}

.drug-tab--buttons > button{
    padding: 5px 22px;
    border-radius: 8px;
    border: none;
    background: #4B89B8;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.drug-tab--unlockmsg{
    color: #737278;
    margin-right: 36px;
}
